body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
}

h4 {
  font-weight: bold;
}
p {
  text-align: right;
  padding: 0;
}
.shape {
  max-width: 800px;
  display: block;
  margin: 0 auto;
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  margin-top: 40px;
  color: grey;
}
.buttons {
  max-width: 800px;
  position: fixed;
  left: 730px;
  top: 70px;
}
.search-btn {
  background-color: rgb(91, 202, 239);
  border-radius: 3px;
  position: fixed;
  left: 930px;
  top: 70px;
}
.dayTime {
  list-style: none;
  font-size: 20px;
  margin-left: -30px;
}
.wind {
  max-width: 750px;
  list-style: none;
  font-size: 15px;
  margin-left: 200px;
}
.day-icon {
  font-size: 45px;
}
.link {
  position: relative;
  top: -20px;
}
#forecast {
  font-size: 17px;
}

.card {
  width: 115px;
}

.github {
  margin-left: 240px;
  text-decoration: none;
}
#temperature {
  font-size: 45px;
}
#icon {
  margin-top: -40px;
  margin-left: -20px;
}
#c-link {
  text-decoration: none;
  color: grey;
}
#f-link {
  text-decoration: none;
  color: grey;
}
#developer {
  color: black;
}
